.feed {
    flex: 0.5;
    border-right: 1px solid #2b3c47;
    min-width: fit-content;
    overflow-y: scroll;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .feed__header {
    background-color: #172f44;
    border-bottom: 1px solid #2b3c47;
    border-top: 1px solid #2b3c47;
    padding: 1px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .feed__header > h2 {
    font-size: 20px;
    font-weight: 400;
    color: white;
  }

  .embed_tweets{
    padding-left: 44px;
    padding-right: 20px;
  }
