.css-7mkrez{
    color: white;
    font-family: monospace;
}
.css-1jv1kel h3{
    color:white;
}
.css-1jv1kel h4{
    color: white;
}

.css-1psltl0 .css-vcfpfv{
    outline: 5px solid white;
    margin: 0.3em 0.3em 0.3em -0.3em;
    left: 1.9em;
    width: 0.7em;
    height: 0.7em;
}
.css-1jv1kel .css-692fgp{
    background-color: #8282c5;
}
.my_journey .education h3{
    color: white;
}