.widgets {
    flex: 0.3;
   }
  .widgets::-webkit-scrollbar{
    display: none;
  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input > input {
    border: none;
    background-color: #e6ecf0;
    outline: none;
  }
  
  .widgets__searchIcon {
    color: gray;
  }
 .widgets__input>input::placeholder{
  color: gray;
 } 
 
 .modal img{
  width: 100%;
 }
  .widgets__widgetContainer {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    height: 40%;
    background-color: #1e2732;
    border: 1px solid rgb(30, 39, 50);
    width: 80%;
    margin-left: 30px;

  }

  .widgets__widgetContainer > div{
    overflow-y: scroll;
    height: 90%;
  }
  .widgets__widgetContainer> div::-webkit-scrollbar {
    display: none;
  }
  
  .widgets__widgetContainer > h2 {
    position: sticky;
    top: 0;
    font-size: 18px;
    font-weight: 800;
    color: white;
  }
