.widgets {
    flex: 0.3;
    /* overflow: hidden; */
   }
  .widgets::-webkit-scrollbar{
    display: none;
  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input > input {
    border: none;
    background-color: #e6ecf0;
    outline: none;
  }
  
  .widgets__searchIcon {
    color: gray;
  }
 .widgets__input>input::placeholder{
  color: gray;
 } 
  .widgets__widgetContainer {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    height: 40%;
    background-color: #1e2732;
    border: 1px solid rgb(30, 39, 50);
    width: 80%;
    margin-left: 30px;

  }

  .widgets__widgetContainer > div{
    overflow-y: scroll;
    height: 90%;
  }
  .widgets__widgetContainer> div::-webkit-scrollbar {
    display: none;
  }
  
  .widgets__widgetContainer > h2 {
    position: sticky;
    top: 0;
    font-size: 18px;
    font-weight: 800;
    color: white;
  }

  /* .social_media{
    margin-top: 20px;
  }
  .social_media .logo__{
    position: absolute;
    cursor: pointer;
    transition: all 1s ease-in-out;
    box-shadow: 0px 0px 1px 1px #191e21;
  
  }
  .social_media .logo__:hover{
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  .social_media .main_logo_twitter{
    width: 52px;
    height: 52px;
    top: 58.4%;
    margin-top: 1px;
  }

  .social_media .main_logo_github{
    width: 49px;
    height: 49px;
    top: 67%;
  }
  .social_media .hover_logo_twitter{
    margin-top: 1px;
  }
  .social_media .hover_logo_github{
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .social_media .hover_logo_instagram{
    margin-top: 6px;
    margin-bottom: 6px;  }

.social_media .main_logo_instagram{
  width: 50px;
  height: 50px;
  top: 75.3%;
  margin-top: 12.5px;
}
.social_media .hover_logo_linkedin{
  margin-top: 6px;
  margin-bottom: 6px;
}
.social_media .main_logo_linkedin{
  width: 50px;
  height: 50px;
  top: 84%;
  margin-top: 9px;
}

.social_media .smedia{
  border: 1px solid red;
  display: flex;
} */