/* *{
    
} */
/* .navbar{
    width: 100%;
    background-color: black;
} */
.navbar {
    background-color: rgb(15, 166, 231);
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 90%;
    margin:0 0 0 30px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a green background color to the active link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }