body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

.app {
    display: flex;
    height: 100vh;
    color: white;
    padding: 0 10px;
    background-color: #15202b;
}
@media (max-width: 1440px) {
    .main_container {
        display: block;
        margin: 0 auto;
        width: 100vw !important;
        flex: auto !important;
        border: 0 !important;
    }
    .my-profile {
    }
    .post {
        width: 100% !important;
    }
    .sidebar {
        display: none;
    }
    .widgets {
        display: none;
    }
    .grid-skills {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)) !important;
    }
    .connections {
        width: 100% !important;
        height: 60px !important;
    }
}

.disabled {
    cursor: not-allowed !important;
}
