body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  /* max-width: 1300px;
  margin-left: auto;
  margin-right: auto; */
  color: white;
  padding: 0 10px;
  background-color: #15202b;
}
/* @media only screen and (max-width: 1216px) {
  body{width:1216px;}
} */

.alertSmallScreen {
  display: none;
}


@media (max-width: 1200px){
  .app {
    display: none;
  }
  .alertSmallScreen {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
  }
  .alertSmallScreen p{
    margin-top: 5%;
    justify-content: center;
    text-align: center;
  }
}